{
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "ignorePatterns": ["dist", "templates"],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true
      }
    ],
    "indent": ["error", 4],
    "import/no-extraneous-dependencies": "off",
    "no-console": "off"
  }
}